/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #hero-area .contents .head-title {
    font-size: 40px;
  }
  .services-item .services-content h3 a {
    font-size: 14px;
  }
  .contactNow{
    padding: 7px 15px;
  }
}
@media (max-width: 1156px){
  .navbar-expand-lg .navbar-nav .nav-link{
    padding: 0 7px;
  }
}
@media (max-width: 1024px) {
  .services-item {
      margin-bottom: 20px;
    }

    .noticeboard_slider .item p {
        font-size: 14px;
        padding: 0 10px 0 10px;
    }
    #about {
      padding: 40px 0;
  }

  h2 {
      font-size: 28px;
  }

  #about p {
      margin: 20px 0;
  }

  #services {
      padding: 40px 0;
  }

  p {
      font-size: 14px;
  }

  #services h3 {
      font-size: 20px;
      min-height: 40px;
  }

  .section-padding {
      padding: 40px 0;
  }

  .shot-item>img {
      max-width: 100%;
  }

  #testimonials {
      padding: 20px 0;
  }

  .testimonial {
      padding: 10px;
  }

  .testimonial-image, .testimonial-image img {
      float: none;
  }

  .contact-form-area {
      padding: 20px;
  }
}
@media (min-width: 767px){
  #showpaymentpopup .modal-dialog{
    max-width: 800px;
  } 
  #showpaidpayments .modal-dialog{
    max-width: 800px;
  } 
  #showbalancepayments .modal-dialog{
    max-width: 800px;
  } 
}
/* tablets */
@media (max-width: 991px) {
  .section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  #filter-search{
    padding-top: 0;
    margin-bottom: 0;
  }
  .tableLeft{
    float: none;
    width: 100%;
    margin-bottom:0;
  }
  table.table.tableLeft.tableEdit{
    margin-top:0;
  }
  .rowpadding {
      margin-left: 0;
  }
  .trims.col-lg-2{
    max-width: 100%;
  }
  #wraperr{
    padding: 0 20px;
  }
  .tex_t{
    padding: 0;
  }
  .swiperpopupBox .outer .owl-theme .item span{
    height: 260px;
  }
  #thumbs .item span{
    height: 70px;
  }
  .boxd{
    padding: 20px 0 0;
    width: 100%;
  }
  .sims.col-lg-3{
    padding: 0 15px;
  }
  .sim.col-lg-3{
    padding: 10px 15px;
  }
  #hero-area{
    padding-top: 0;
  }
  .featured-properties-area {
      padding: 30px 0 20px;
  }
  .gallery-wrap {
      padding: 20px 0 14px;
  }
  #contact{
    padding: 10px 0 30px;
  }
  #agents {
    /*padding: 35px 0 50px;*/
  }
  #services {
    padding: 23px 0 20px;
  }
  #header-wrap {
      height: 55px;
  }
  .vertical_slides{
    display: none;
  }
  .vertical_slides2{
    display: none;
  }
  .services-item .services-content h3 a {
    font-size: 14px;
  }
  .advanced-search-form{
    padding: 40px 20px;
  }
  /*.vertical_slides {
    float: none;
    display: block;
  }*/
  .vertical_slides_mobile{
    display: block;
  }
  .vertical_slides_mobile .mCSB_outside + .mCSB_scrollTools{
      right: -12px;
  }
  .vertical_slides_mobile .mCSB_outside + .mCSB_scrollTools {
      right: -12px;
  }
  .vertical_slides_mobile {
      display: inline-block;
      /*float: left;*/
      width: 300px;
      padding-top: 20px;
  }
  .vertical_slides_mobile2{
    display: block;
  }
  .vertical_slides_mobile2 .mCSB_outside + .mCSB_scrollTools{
    right: -12px;
  }
  .vertical_slides_mobile2 .mCSB_outside + .mCSB_scrollTools {
      right: -12px;
  }
  .vertical_slides_mobile2 {
      display: inline-block;
      /*float: left;*/
      width: 300px;
      padding-top: 20px;
  }
  .horizontal_slider {
      width: 100%;
      float: none;
      display: block;
      padding: 0 15px;
  }
  .horizontal_slider .item p {
      font-size: 13px;
      line-height: 19px;
  }
  .header_wrapper_mobile {
      display: flex;
      flex-direction: row;
  }

  /*.vertical_slides {
      order: 2;
      padding-top: 20px;
  }
  .vertical_slides2{
    order: 2;
    float: unset;
  }*/
  .horizontal_slider {
      order: 1;
  }
  a.navbar-brand img {
    max-width: 60px;
    margin: 0;
    height: 52px!important;
  }
  div#hero_slider {
      padding-top: 45px;
      padding-right:0;
      padding-left: 0;
  }

}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .section-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .services-item .services-content h3 a {
    font-size: 16px;
  }
  .services-item {
    margin-bottom: 20px;
  }
  .counter-section .counter p {
    font-size: 14px;
  }
}
@media (min-width: 991px) and (max-width: 480px) {
  #filter-search {
      margin-bottom: 10px;
  }

}
/* mobile or only mobile */
@media (max-width: 767px) {
  .section-title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .vertical_slides_mobile{
    padding-top: 0;
  }
  .vertical_slides_mobile2{
    padding-top: 0;
  }
  .top-nav-collapse .navbar-brand img{
    width: 90%;
  }
  ul.smartphotoWrapper .brick{
        width: 49%;
  }
  .bordered-box ul{
    display: block;
  }
  ul.shubhX{
    padding: 1px 0px;
  }
  .spaceboth{
    margin: 50px 0;
  }
  .agentprofile .table td input{
    width: 100%;
  }
  .bordered-box ul li{
    border-left:none;
    border-bottom: 1px solid #1878a0;
  }
  .bordered-box ul li:last-child{
    border-right:none;
  }
  #gallery .nopadding, #overview .nopadding,#aboutus .nopadding{
    padding: 0 15px;
  }
  .image-overview{
    max-width: 100%;
  }
  .unit-detail-container{
    padding-top: 20px;
  }
  a.jfloorplan{
    display: block;
  }
  .builder-logo {
    max-width: 100%;
    height: 162px;
    margin-bottom: 10px;
  }
  #aboutus p{
    line-height: 20px;
    text-align: justify;
  }
  .pl-4{
    padding-left: 0 !important;
  }
  #properties .nopadding{
    padding:0 10px;
  }
  .tabpaneContainer .thumbnail img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .section-sub {
    font-size: 16px;
  }
  
  .navbar-brand img {
    margin: 5px 0;
  }
  #hero-area .contents {
    padding: 100px 0px 60px 0px;
  }
  #hero-area .contents .head-title {
    font-size: 22px;
  }
  .about_content {
    margin-bottom: 30px;
  }
  #hero-area .contents h5 {
    font-size: 32px;
  }
  #hero-area .contents p {
    font-size: 20px;
  }
  .services-item {
    margin-bottom: 20px;
  }
  .timeline li .line-title {
    line-height: 26px;
  }
  .timeline li:first-child i {
    margin: -12px -40px;
  }
  .contact-form-area {
    /*padding: 40px 0px;*/
  }
  .footer-right-area {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 680px) {
  .portfolio-item {
      max-width: 400px;
      margin: 0 auto;
  }
  .horizontal_slider img {
      height: 190px;
  }
  .shot-item>img {
      max-width: none;
      width: 100%;
  }
  .notice_title {
      display: block;
      float: none;
      width: 100%;
      border-bottom: 2px solid #fff;
  }

  .notice_title p {
      padding: 5px 20px;
      font-size: 15px;
  }

  .noticeboard_slider .owl-item:nth-child(odd):after, 
  .noticeboard_slider .owl-item:nth-child(even):after {
      content: none;
  }
}
@media (max-width: 576px){
  .our_services{
    margin-bottom: 15px;
  }
  .vertical_slides_mobile .slides li{
    padding: 4px 4px 4px 15px;
  }
  .vertical_slides_mobile2 li{
    padding: 4px 15px 4px 13px;
  }
  #services h3{
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: auto;
  }
  #services .service-desc{
    height:auto;
  }
  p.contact_number{
    float:none;
  }
  p.slider_title{
    float:none;
  }
  .slides li p{
    font-size: 12px;
    line-height: 14px !important;
  }
  .horizontal_slider .item p{
    font-size: 12px;
  }
  .agentprofile {
      padding: 5px;
      margin: -1px;
  }
  footer#footer-section {
    padding: 10px 0 10px;
  }
  .menus_footer {
    margin-top: 10px;
  }
  .footer-text {
    margin-bottom: 0;
  }
  .propertyDescription{
    margin-top: 10px;
  }
  .padding30 {
      padding: 20px 0px;
  }
  .gallery-box.padding30{
    padding: 20px;
  }
  .about_content{
    margin-bottom: 15px;
  }
  .wrapper-section {
      padding: 110px 0 20px !important;
  }
  .about-us-section {
      padding: 30px 0;
  }
  #contact{
    padding: 0 0;
  }
  .gallery-wrap {
    padding: 20px 0 20px;
  }
  #agents {
      /*padding: 50px 0;*/
  }
  .button_search1{
    min-height: 45px;
  }
  .main-form .form-group{
    margin-bottom: 0;
  }
  .main-form .form-group label{
    margin-bottom: 10px;
  }
  #filter-section .irs--flat .irs-line{
    top: 27px;
    height: 8px;
  }
  #filter-section {
      padding: 30px 0 30px;
  }
}
@media (max-width: 480px) {
  .header_strip {
      text-align: right;
  }
  .slicknav_btn{
    margin: 11px 15px 11px 0;
    height: 29px;
    padding: 7px 0 9px;
    width: 30px;
  }
  .navbar-start p{
    padding-left: 2px;
    font-size: 14px;
  }
  a.navbar-brand img{
    max-width: 48px;
  }
  ul.smartphotoWrapper .brick{
        width: 100%;
  }
  .header_strip ul li a{

  }
  .menus_footer {
      margin-top: 10px;
  }
  div#hero_slider{
    padding-top: 35px;
  }
  #filter-search {
      margin-bottom: 20px;
  }
  .footer-text{
    margin-bottom: 0;
  }
  .slides {
    height: 320px;
  }
  #header-wrap {
      height: 65px;
  }
  .footer-right-contact {
      margin-top: 20px;
  }
  nav.navbar {
      top: 30px !important;
  }
  .right-space nav.navbar{
    top:0 !important;
  }
  .header_strip ul li {
      padding: 0 6px;
      /*padding-left: 0;*/
  }
  .shot-item{
    margin-bottom: 15px;
  }

  .header_strip ul li:last-child {
      padding-right: 10px;
      padding-left: 6px;
  }

  .header_strip ul li span {
      font-size: 13px;
      padding-right: 5px;
  }

  .header_strip ul li a {
      font-size: 12px;
  }
  .header_strip ul li a i{
    font-size: 14px;
    padding-top: 7px;
  }
  .section-padding {
      padding: 20px 0;
  }
  .timeline .timelin-title {
    font-size: 18px;
  }
  .nopadding{
    padding: 0 15px;
  }
  p,
  .about_us_content p {
      font-size: 14px;
      padding-top: 5px;
      line-height: 20px !important;
  }
  .section-padding h4 {
      font-size: 18px;
  }

  .shot-item>img {
      max-width: 100%;
  }

  div#portfolio {
      margin: 0;
  }
  .footer-right-contact .single-contact {
      margin: 15px 5px;
  }

  .footer-right-contact .single-contact p {
      /*min-height: 40px;*/
      vertical-align: middle;
  }

}